<div class="container">
  <div class="jumbotron">
    <h1 class="p-3 mb-2 bg-danger text-white">ログイン後のページです</h1>
    <p>This is the homepage of my awesome website.</p>
    <%= image_tag current_user.avatar.url, class: 'rounded-circle', size: '50x50' %>
    <%= current_user.name %>
    <%= link_to 'プロフィール', profile_path, class: 'nav-link' %>
  </div>
</div>
