<div class="container">
  <div class="jumbotron">
    <h1 class="p-3 mb-2 bg-primary text-white">ログイン前にブラウザで開き直してください</h1>
    <br>
    <%= link_to '（LINE）ユーザー登録・ログイン', new_user_path, class: 'btn btn-success btn-lg' %>
  </div>
</div>
