<div class='py-5'>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="mb-3 border p-4 bg-light">
      <div class="card p-3">
        <h3 class="p-3 mb-2 bg-light text-danger">画像は「1MB以下」「jpg jpeg gif png」 しか受け付けていません</h3>
      </div>
    <br>
    <div class='form text-center py-2'>
      <%= form_with model: @image, url: activity_images_path, local: true do |f| %>
        <%= f.file_field :image, accept: 'image/*' %>
        <%= f.hidden_field :image_cache %>
        <br>
        <br>
        <%= f.submit '画像を送信' %>
      <% end %>
    </div>
    </div>
  </div>
    <br>
    <br>
    <br>
</div>
